footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $brand-white;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 27rem;

}

.footer-links-item {
  @extend %inkwell;


   &:hover  {
     @extend %earlybird;
     color: $brand-red;
   }
}
