.sub__header {
  position: relative;
  width: 6.3rem;
  margin: auto;

}

.murray {
  border-radius: 50%;
}

.triangle {
  position: absolute;
  top: 15%;
  left: 31%;
  margin: 0;
  color: $brand-red;
font-size: 2rem;
text-align: middle;
}

.landscape {
margin: 0;
color: $brand-white;
position: absolute;
top: 80%;
left: 2%;
font-size: 1.2rem;

}
