main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
margin-top: 1rem;
}

.row {
  display: flex;
  overflow: auto;
  width: 117%;
  margin-top: $gutter;
}

.main__article {
  display: flex;
  padding-left: 26vw
}

.author-date {
  display: flex;

}

.author {
  color: $brand-white;
  margin-right: $gutter;
}

.pic-details {
list-style-type: none;
padding-left: $gutter;

}

.pic-details__item {
  margin-bottom: .3rem;
}

.pic-details__item__red {
  color: $brand-red;
}

.camera__model {
  display: flex;
}

.end-of-main {
  display: flex;
  margin-left: 26vw;
}

.anders {
  color: $brand-white;
}

.olavessen {
  margin-left: 1rem;
}
