// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'variables';

body {
  max-width: 100vw;
  margin: auto;
  background: $brand-dark-gray;
  color: $brand-light-gray;
}

.container {
  max-width: $max-content-width;
  margin: auto;
}

.sub__header {
  position: relative;
  width: 6.3rem;
  margin: auto;

}

.cage {
  border-radius: 50%;
}

.triangle {
  position: absolute;
  top: 20%;
  left: 40%;
  margin: 0;
  color: $brand-red;
font-size: 2rem;
text-align: middle;
}

.landscape {
margin: 0;
color: $brand-white;
position: absolute;
top: 80%;
left: 13%;
font-size: 1.2rem;

}

.nav {
  display: flex;
  justify-content: space-between;
  margin: $gutter;
}

.nav__left {
  display: flex;
  justify-content: space-between;
  width: 17rem;
}

.logo {
font-size: 2rem;
margin: 0;
align-self: center;
}

.name {
  color: $brand-white;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  width: 10rem;
  align-items: center;
}

.about {
  color: $brand-light-gray;
}

.work {
  color: $brand-red;
}

.contact {
  color: $brand-light-gray;
}

main {
margin-top: 3rem;
}

.main__article {
  display: flex;
  padding-left: 26vw
}

.author-date {
  display: flex;

}

.author {
  color: $brand-white;
  margin-right: $gutter;
}

.pic-details {
list-style-type: none;
padding-left: $gutter;

}

.pic-details__item {
  margin-bottom: .3rem;
}

.pic-details__item__red {
  color: $brand-red;
}

.camera__model {
  display: flex;
}

.end-of-main {
  display: flex;
  margin-left: 26vw;
}

.anders {
  color: $brand-white;
}

.olavessen {
  margin-left: 1rem;
}

.bottom-container {
  margin: auto;
  gutter:$gutter;
   max-width: $max-content-width;
  background-color: $brand-dark-gray;
}


.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $brand-light-gray;
}

.footer-title {
  color: $brand-white;

}

.bottom-row {
  display: flex;
  justify-content: space-between;
}

.bottom-row__pic {
  width: 50%;

  &__title {
    text-align: center;
  }

  &:hover {
    cursor: pointer;
  }

}
