// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'variables';

.body {
  // background-color: green;
  margin: 0;
  font-family: sans-serif;

}

.top-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  // max-width: $max-content-width;
  // background-color: pink;
  background-color: $brand-dark-gray;
}

.top-nav {

}


.top-nav__row {
  width: 100%;
  // background-color: orange;
  display: flex;
  justify-content: space-between;


}

.top-left-nav {
  display: flex;
  align-items: center;

}

.nav-item {
  color: $brand-light-gray;
  font-size: 1rem;

  &__icon {
    margin: 0.5rem;
  }

  &__name {
    margin: 0;
    color: $brand-white;
  }

  &__desc {
    margin: 0.5rem;
  }

  &__right {
    margin: 0 $gutter;

    &:hover {
      color: $brand-red;
      cursor: pointer;
    }
  }

}





.photog-name {

}

.top-right-nav {
  display: flex;
  align-items: center;

}

.nav-item__right {

}

.header-block {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 20px;

  // background-color: blue;

}

.header-block__photo {
  // border-radius: 50%;

}

.header-block__photo-text {

}

.boss-container {
  margin: auto;
  gutter:$gutter;
  // max-width: $max-content-width;
  background-color: $brand-dark-gray;

}

.container {
  max-width: $max-content-width;
  background-color: $brand-dark-gray;

}

.row {
  // gutter: $gutter;
  // background-color: green;
  font-size: 0.65rem;
  max-width: $max-content-width;
  display: flex;

  flex-wrap: wrap;
  // justify-content: center;

}

.column-one {

}

.row-pic {
  width: 100%;
  // background-color: purple;
  // display: flex;
  // flex-direction: column;




}

.photo-dimensions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;


}

.camera-title {
  color: $brand-red;
}

.photo-dimensions__text {

}

.photo-name {

}

.timeanddatestamp {

}

.dimension-box {
  display: flex;
  flex-wrap: wrap;
}

.bottom-container {
  margin: auto;
  gutter:$gutter;
  // max-width: $max-content-width;
  background-color: $brand-dark-gray;
}


.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $brand-light-gray;
}

.footer-title {
  color: $brand-white;

}

.bottom-row {
  display: flex;
  justify-content: space-between;
}

.bottom-row__pic {
  width: 50%;

  &__title {
    text-align: center;
  }

  &:hover {
    cursor: pointer;
  }

}
